/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/04/2015, 00:08:51
    Author     : luizdagoberto
*/
body {
    margin-top: 40px;
}

div.clear
{
    clear: both;
}

div.product-chooser{

}

div.product-chooser.disabled div.product-chooser-item
{
    zoom: 1;
    filter: alpha(opacity=60);
    opacity: 0.6;
    cursor: default;
}

div.product-chooser div.product-chooser-item{
    padding: 11px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    border: 2px solid #efefef;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10x;
}

div.product-chooser div.product-chooser-item.selected{
    border: 4px solid #428bca;
    background: #efefef;
    padding: 8px;
    filter: alpha(opacity=100);
    opacity: 1;
}

div.product-chooser div.product-chooser-item img{
    padding: 0;
}

div.product-chooser div.product-chooser-item span.title{
    display: block;
    margin: 10px 0 5px 0;
    font-weight: bold;
    font-size: 12px;
}

div.product-chooser div.product-chooser-item span.description{
    font-size: 12px;
}

div.product-chooser div.product-chooser-item input{
    position: absolute;
    left: 0;
    top: 0;
    visibility:hidden;
}

